.page-heading {
  margin-bottom: 30px;
}

.nav-second-level li a {
  padding: 10px;
  padding-left: 40px;
}

::-webkit-scrollbar-thumb {
  background: rgba(113, 102, 102, 0.83);
  border: none;
}

.panel-body h3 {
  font-size: 18px;
}

.panel-heading {
  padding-top: 15px;
}

.panel-title {
  font-size: 16px;
  font-weight: 600;
}

::-webkit-scrollbar-thumb {
  background: rgba(113, 102, 102, 0.83);
  border: none;
}

.table-overflow {
  height: 250px;
  overflow-y: auto;
}

.table-fixed-head-header {
  width: calc(100% - 7px);
}

.table-fixed-head-header > thead > tr > th {
  padding-left: 10px;
}

.table .table-fixed-head-shadow {
  visibility: hidden;
}

.table .table-fixed-head-shadow tr th {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

.table-responsive.table-responsive-fixed-head {
  white-space: normal;
}

.table-responsive.table-responsive-fixed-head .table,
.table-responsive.table-responsive-fixed-head .table-overflow {
  min-width: 700px;
}

.table-responsive.table-responsive-fixed-head .table-overflow {
  overflow-x: hidden;
}

.table tr.odd {
  background-color: #fafafa;
}

.nav-tabs > li > a {
  color: #337ab7;
}

.nav-tabs-sm > li > a {
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
}

.tab-content > .tab-pane {
  padding: 15px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-bottom-color: #fff;
}

.select2-container .select2-selection--single {
  height: 34px;
  border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px;
}

